<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arvind.libo">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".librarian_login"
            android:label="@string/title_activity_librarian_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user_login"
            android:label="@string/title_activity_user_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".librarian_main"
            android:label="libo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".issue" />
        <activity android:name=".manage_membership_main" />
        <activity android:name=".manage_books" />
        <activity android:name=".find_a_book" />
        <activity android:name=".view_member" />
        <activity android:name=".add_member"/>
        <activity android:name=".generate_bill" />
        <activity
            android:name=".user_main"
            android:label="libo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".add_book_main" />
        <activity android:name=".ocr">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>